<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>登录</h2>
        <input type="text" id="username1" placeholder="用户名">
        <input type="password" id="pwd1" placeholder="密码">
        <button id="login">登录</button>
    </div>
    <div>
        <h2>注册</h2>
        <input type="text" id="username2" placeholder="用户名">
        <input type="password" id="pwd2" placeholder="密码">
        <button id="register">注册</button>
    </div>
<script src="/public/plugins/js/jq.mini.js"></script>
<script src="/public/js/main.js"></script>
</body>
</html>